.mainPane {
    -fx-background-color: #CBCBCB;
}

.paneMenu {
    -fx-background-color: #000000;
}

.input {
    -fx-font-size: 24px;
    -fx-font-family: "Roboto Light";
    -fx-background-color: #CBCBCB;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-prompt-text-fill: #6a6e6e;
    -fx-border-color: transparent transparent black transparent;
}

.buttonMain {
    -fx-text-alignment: center;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 30px;
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.pane {
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-background-color: #FFFFFF;
}

.buttonMenu {
    -fx-max-width: 380px;
    -fx-min-width: 380px;
    -fx-text-alignment: center;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 30px;
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.linkMenu {
    -fx-underline: false;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
}

.linkMenu:hover{
    -fx-underline: false;
    -fx-font-size: 35px;
}

.linkVoltar {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
}

.combo-box {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-background-color: #ACACAC;
    -fx-alignment: center;
    -fx-text-fill: #000000;
    -fx-max-width: 300px;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-cursor: hand;
}

.combo-box .cell {
    -fx-background-color: #ACACAC;
}

.datePicker .cell:hover {
    -fx-background-color: #ACACAC;
}

.datePicker .text-field {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.datePicker {
    -fx-font-family: "Roboto Light";
    -fx-text-alignment: center;
    -fx-background-color: #ACACAC;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
}

.datePicker .cell:selected {
    -fx-background-color: #656565;
}

.list-cell {
    -fx-background-color: #FFFFFF;
}

.list-view {
    -fx-padding: 5px 0px 5px 5px;
}

.list-cell:filled {
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 2, 1;
    -fx-background-color: #DCDBDB;
    -fx-cell-size: 50px;
}

.list-cell:selected {
    -fx-background-color: #656565;
}

.list-view {
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.listViewPedido{
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.listViewPedido .list-cell:filled{
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-background-color: #ACACAC;
    -fx-cell-size: 100px;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #CCCCCC;
}


.label{
    -fx-font-size: 20px;
    -fx-font-family: "Roboto Thin";
}

.labelPrincipalMenu {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 40px;
    -fx-text-fill: #FFFFFF;
}

.tfPesquisa{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-underline: true;
    -fx-prompt-text-fill: #FFFFFF;

    -fx-background-color: #656565;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
}

.linkVoltar:hover{
    -fx-underline: false;
    -fx-font-size: 35px;
}
.buttonMain:hover{
    -fx-font-size: 35px;
    -fx-padding: 7px;

}

.buttonMenu:hover{
    -fx-font-size: 35px;
    -fx-padding: 7px;

}
.dialog .button{
    -fx-text-alignment: center;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 30px;
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20, 5;
    -fx-background-insets: 5, 1;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.dialog .button:hover{
    -fx-font-size: 35px;
    -fx-padding: 7px;
}

.dialog{
    -fx-background-color: #CBCBCB;
}

.dialog .header-panel{
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}

.dialog .label {
    -fx-text-fill: #000000;
    -fx-padding: 30px;
}

.dialog .header-panel .label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 35px;
    -fx-text-fill: #FFFFFF;
}